


.navbar{
    height: 80px;
    background-image: url(imagem/gl.jpg);
    
    
}

.navbar-brand{
     background-image: url(imagem/azul.jpg);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    display: contents;
}

.row{
    
background-image: url(imagem/ceu.jpg);
  


}












